
ul.list-unstyled {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

textarea.my-2.form-control {
    width: 300px;
}

.head {
    display: flex;
    justify-content: space-between;
}
.font {
    font-family: auto;
}
h5.fw-bold.text-secondary {
    font-size: 15px;
}

p.float-end.fw-bold.font {
    color: black;
}
.font {
    font-family: auto;
    color: black;
}