.Footer {
    bottom: 0;
    left: 0;
    width: 100%;

    justify-content: space-around;
    background: linear-gradient(90deg, rgb(56, 163, 74) 0%, rgb(56, 196, 149) 0%, rgb(255, 255, 255) 100%);
    display: flex;
    align-items: center;

    color: rgb(0, 182, 127);
    height: 200px;

}

p {
    font-family: auto;
    color: white;
}